<div class="login-container">
    <div class="logo">Recommender</div>
    <div class="desc">
        Lorem ipsum dolor sit amet 
        consectetur adipisicing elit. 
        Labore sunt amet enim qui. 
        Quo delectus vero doloremque 
        ex officiis ratione culpa dicta, 
        voluptatem facilis consequatur 
        eligendi debitis reprehenderit 
        nisi tenetur?
    </div>
    <div class="login-form">
        <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" name="uname" id="" class="form-control" [(ngModel)] = "username"/>
        </div>
        <div class="form-group">
            <label for="pword">Password</label>
            <input type="password" name="pword" id="" class="form-control" [(ngModel)]="password"/>
        </div>
        <div class="btn-container">
            <div class="error">{{ errorMsg }}</div>
            <button class="btn btn-dark" (click)="login()">Login</button>
        </div>
    </div>
</div>