.login-container{
    width: 100%;
    min-height: 100vh;
    // background: linear-gradient(135deg, #ffe645 0%, #e2aa02 100%);
    background: linear-gradient(135deg, #134bb4 0%, #200c92 100%);
    padding: 3%;
    .logo{
        font-size: 60px;
        font-weight: bold;
        font-family: cursive;
        letter-spacing: 10px;
        text-align: center;
        color: #fff
    }
    .desc{
        font-size: 15px;
        font-family: cursive;
        letter-spacing: 5px;
        text-align: center;
        margin: 30px auto;
        max-width: 700px;
        color: #fff;
    }
    .login-form{
        max-width: 500px;
        height: 300px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        margin: auto;
        box-shadow: 5px 5px 15px #383839;
        position: relative;
        .form-group{
            margin-top: 20px;
        }
        label{
            font-weight: bold;
        }
        .btn-container{
            .btn{
                margin-top: 30px;
            }
            .error{
                position: absolute;
                top: 25px;
                right: 20px;
                color: #ff0000;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .login-container{
        .logo{
            font-size: 50px;
        }
        .desc{
            font-size: 13px;
        }
        .login-form{
            label{
                font-size: 13px;
            }
            .btn-container{
                .btn{
                    font-size: 13px;
                }
            }
        }
    }    
}
@media screen and (max-width: 462px){
    .login-container{
        .logo{
            font-size: 30px;
        }
        .desc{
            font-size: 12px;
            letter-spacing: 3px;
        }
    }    
}